<div class="margin">
  <p id="notice"><%= notice %></p>

  <% @page_title = "Teams" %>

  <table>
    <tbody>
      <% @teams.each do |team| %>
        <tr>
          <td>
            <%= link_to edit_team_path(team), class: "show-icon" do %>
              <%= image_tag("icons/icon-edit.svg", alt: "edit team") %>
            <% end %>
          </td>
          <td><%= link_to team.name, team %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= render "subscribe" %>

  <%= link_to new_team_path do %>
    <h4>Create a new team</h4>
  <% end %>
</div>
