<div class="margin">
  <%= form_with(model: task) do |form| %>
    <% if task.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

        <ul>
          <% task.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= form.label :name %>
    <%= form.text_field :name, placeholder: "Enter task name" %>

    <%= form.label :subject_id %>
    <%= form.select :subject_id, current_user.admin_subjects.collect { |s| [ s.name , s.id ] } %>

    <%= form.label :duedate %>
    <div class="dateselect">
      <%= form.date_field :duedate %>
    </div>

    <%= form.label :worktype, "Work in groups" %>
    <%= form.check_box :worktype %>

    <%= form.label :description %>
    <%= form.text_field :description %>

    <section class="nesting">
      <h4>Attachments</h4>
      <%= form.file_field :attachments, multiple: true %>
    </section>

    <section class="nesting">
      <h4>Weblinks</h4>
      <%= form.fields_for :weblinks do |weblinks_form| %>
        <%= render 'weblink_fields', f: weblinks_form %>
      <% end %>

      <div class="add-nesting">
        <%= image_tag("icons/icon-add.svg", alt: "add weblink", class: "show-icon") %>
        <%= link_to_add_association 'Add new weblink', form, :weblinks %>
      </div>
    </section>

    <div class="actions">
      <%= form.submit class: "btn hoverable" %>
      <%= link_to 'Cancel', @task ? @task : tasks_path, class: "btn hoverable" %>
    </div>
  <% end %>
</div>
