<div class="pad">
  <%= render "searchbar", redirect: calendar_path %>
  <br>
  <%= month_calendar do |date| %>
    <%= date.day %>
    <% @tasks.where(:duedate => date.beginning_of_day..date.end_of_day).each do |day_task| %>
      <%= link_to day_task do %>
        <div class="day-task" style="background: <%= day_task.subject_color %>;"></div>
      <% end %>
    <% end %>
    <% @exams.where(:duedate => date.beginning_of_day..date.end_of_day).each do |day_exam| %>
      <%= link_to day_exam do %>
        <div class="day-task exam" style="border-color: <%= day_exam.subject_color %>;"></div>
      <% end %>
    <% end %>
  <% end %>
</div>
