<p id="notice"><%= notice %></p>

<% @page_title = "Tasks" %>

<% @tasks.each do |task| %>
  <div class="task">
    <button class="btn slide left todo"></button>
    <section class="task-content">
      <%= link_to task do %>
        <div class="top">
          <div class="subject"><%= task.subject.name %></div>
          <button class="btn state doing">Doing</button>
        </div>
        <h4><%= task.name %></h4>
        <div class="bottom">
          <div class="icons">
              <%= image_tag("icons/icon-weblink.svg", alt: "Weblink(s) available") %>
              <%= image_tag("icons/icon-group.svg", alt: "Working in a group") %>
              <%= image_tag("icons/icon-attachment.svg", alt: "Attachment(s) available") %>
              </div>
          <div class="duedate"><%= task.duedate %></div>
        </div>
      <% end %>
    </section>
    <button class="btn slide right done"></button>
  </div>
<% end %>
