<div class="margin">
  <p id="notice"><%= notice %></p>
</div>
<% @page_title = "Tasks" %>

<% @user_tasks.each do |user_task|
  task = user_task.task
  status_prev = user_task.status_name(user_task.status_prev)
  status_current = user_task.status_name
  status_next = user_task.status_name(user_task.status_next)
  %>
<div class="task">
  <%= link_to 'change_status/' + user_task.id.to_s + "/prev", class: "btn slide left " + status_prev do end %>
  <section class="task-content">
    <%= link_to task do %>
      <div class="top">
        <div style="color: <%= task.subject.color %>" class="subject"><%= task.subject.name %></div>
        <button class="btn state <%= status_current %>"><%= status_current %></button>
      </div>
      <h4><%= task.name %></h4>
      <div class="bottom">
        <div class="icons">
          <%= image_tag("icons/icon-weblink.svg", alt: "Weblink(s) available") %>
          <%= image_tag("icons/icon-group.svg", alt: "Working in a group") %>
          <%= image_tag("icons/icon-attachment.svg", alt: "Attachment(s) available") %>
        </div>
        <div class="duedate"><%= task.duedate %></div>
      </div>
    <% end %>
  </section>
  <%= link_to 'change_status/' + user_task.id.to_s + "/next", class: "btn slide right " + status_next do end %>
</div>
<% end %>
