<div class="pad form">

  <% @page_title = @task.name + " [Task]" %>

  <h4>
    <% if current_user.is_task_admin?(@task) %>
      <%= link_to edit_task_path(@task) do %><%= image_tag("icons/icon-edit.svg", alt: "edit task") %><% end %>
    <% end %>
    <%= @task.name %>
    <% if current_user.is_task_admin?(@task) %>
      <%= link_to @task, method: :delete, data: { confirm: 'Are you sure?' } do %><%= image_tag("icons/icon-delete.svg", alt: "delete task") %><% end %>
    <% end %>
  </h4>

<div>
  <div style="color: <%= @task.subject.color %>" class="subject">
    <%= @task.subject.name %>
  </div>
  <span>in team <strong><%= @task.subject.team.name %></strong></span>
</div>

  <div>
    <h5>Current status</h5>
    <% user_task = current_user.user_tasks.find_by(task_id: @task.id) %>
    <button class="btn status <%= user_task.status_name %>"><%= user_task.status_name %></button>
  </div>

  <div>
    <h5>Due Date</h5>
    <%= @task.formatted_duedate %>
  </div>

  <div>
    <h5>Type of assignment</h5>
    <%= @task.get_worktype_name %>
  </div>

  <div>
    <h5>Description</h5>
    <%= @task.description %>
  </div>

  <div>
    <h5>Attachments</h5>
    <% @task.attachments.each do |attachment| %>
      <div>
        <%= image_tag("icons/icon-attachment.svg", alt: "Attachment " + attachment.filename.to_s) %>
        <%= link_to attachment.filename.to_s, url_for(attachment), target: "_blank" %>
      </div>
    <% end %>
  </div>

  <div>
    <h5>Weblinks</h5>
    <% @task.weblinks.each do |link| %>
      <div>
        <%= image_tag("icons/icon-weblink.svg", alt: "Weblink to " + link.name) %>
        <%= link_to link.name, link.url, target: "_blank" %>
      </div>
    <% end %>
  </div>
</div>
