<p id="notice"><%= notice %></p>

<% @page_title = @task.name + " [Task]" %>

<h4>
  <%# TODO: check permissions %>
  <%= link_to edit_task_path(@task) do %><%= image_tag("icons/icon-edit.svg", alt: "edit task") %><% end %>
  <%= @task.name %>
  <%# TODO: check permissions %>
  <%= link_to @task, method: :delete, data: { confirm: 'Are you sure?' } do %><%= image_tag("icons/icon-delete.svg", alt: "delete task") %><% end %>
</h4>

<div style="color: <%= @task.subject.color %>" class="subject">
  <%= @task.subject.name %>
</div>

<div>
  <h5>Current status</h5>
  <% user_task = current_user.user_tasks.find_by(task_id: @task.id) %>
  <button class="btn state <%= user_task.status_name %>"><%= user_task.status_name %></button>
</div>

<div>
  <h5>Due Date</h5>
  <%= @task.duedate %>
</div>

<div>
  <h5>Type of assignment</h5>
  <%= @task.get_worktype_name %>
</div>

<div>
  <h5>Description</h5>
  <%= @task.description %>
</div>

<div>
  <h5>Attachments</h5>
  <% @task.attachments.each do |attachment| %>
    <%= attachment.name %>
  <% end %>
</div>

<div>
  <h5>Weblinks</h5>
  <% @task.weblinks.each do |link| %>
    <%= link.name %>
  <% end %>
</div>
