<div class="pad form">
  <%= form_with(model: @task) do |form| %>

    <% @page_title = @task.name + (@task.is_exam ? " [Exam]" : " [Task]") %>

    <h4>
      <% if current_user.task_admin?(@task) %>
        <%= link_to edit_task_path(@task) do %><%= image_tag("icons/icon-edit.svg", alt: "edit task") %><% end %>
        <%= link_to '/task-notes/' + @task.id.to_s do %><%= image_tag("icons/icon-edit.svg", alt: "edit task notes") %><% end %>
      <% end %>
      <%= @task.name %>
      <% if current_user.task_admin?(@task) %>
        <%= link_to @task, method: :delete, data: { confirm: 'Are you sure?' } do %><%= image_tag("icons/icon-delete.svg", alt: "delete task") %><% end %>
      <% end %>
    </h4>

    <div>
      <div style="color: <%= @task.subject_color %>" class="subject">
        <%= @task.subject_name %>
      </div>
      <span>in team <strong><%= @task.subject_team_name %></strong></span>
    </div>

    <% if !@task.is_exam %>
      <div>
        <h5>Current status</h5>
        <% user_task = current_user.user_tasks.find_by(task_id: @task.id) %>
        <% status_names = ["todo", "doing", "done"] %>
        <% status_names.each do |status_name| %>
          <% inactive = status_name == user_task.status_name ? "" : " inactive" %>
          <%= link_to '/change_status/' + user_task.id.to_s + "/" + status_name, class: "btn status " + status_name + inactive do status_name end %>
        <% end %>
      </div>
    <% end %>

    <div>
      <h5><%= @task.is_exam ? "Exam Date" : "Due Date" %></h5>
      <%= @task.formatted_duedate %>
    </div>

    <% if !@task.is_exam %>
      <div>
        <h5>Type of assignment</h5>
        <%= @task.worktype_name %>
      </div>
    <% end %>

    <div>
      <h5>Description</h5>
      <%= @task.description %>
    </div>

    <div>
      <h5>Attachments</h5>
      <% @task.attachments.each do |attachment| %>
        <div>
          <%= image_tag("icons/icon-attachment.svg", alt: "Attachment " + attachment.filename.to_s) %>
          <%= link_to attachment.filename.to_s, url_for(attachment), target: "_blank" %>
        </div>
      <% end %>
    </div>

    <div>
      <h5>Weblinks</h5>
      <% @task.weblinks.each do |link| %>
        <div>
          <%= image_tag("icons/icon-weblink.svg", alt: "Weblink to " + link.name) %>
          <%= link_to link.name, link.url, target: "_blank" %>
        </div>
      <% end %>
    </div>

    <%= render partial: "edit_notes", locals: {form: form} %>

    <div class="actions">
      <%= form.submit class: "btn hoverable" %>
      <%= link_to 'Cancel', '/tasks/' + @task.id.to_s, class: "btn hoverable" %>
    </div>
  <% end %>

</div>