<script>
  function toggleMenu() {
    document.getElementById("menu").classList.toggle("hide");
    document.getElementById("menu-open").classList.toggle("hide");
    document.getElementById("menu-close").classList.toggle("hide");
  }
</script>

<footer>
  <div class="title">
    <%= link_to tasks_url do%>
      <%= image_tag("icons/favicon/icon-32x32.png", alt: "ToDoGether") %>
    <% end %>
    <h4 class="bgblue">
      <%= @page_title %>
    </h4>
  </div>
  <div id="menu-open" class="menu-icon">
    <%= image_tag("icons/icon-menu.svg", alt: "Menu-Icon", onclick: "toggleMenu()") %>
  </div>
  <div id="menu-close" class="menu-icon hide">
    <%= image_tag("icons/icon-close-menu.svg", alt: "Menu-Icon", onclick: "toggleMenu()") %>
  </div>
</footer>
<script>
  if(window.innerWidth > 1024) {
    toggleMenu(); // Initially show menu on bigger screens
  }
</script>
